/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
    position: relative;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

/* x have this, y do not, z have description, j do not */
.requirementA {
    font-size: .800rem;
	color: #c4ffcb;
}
.requirementB {
    font-size: .800rem;
	color: #ffa3a3;
}
.requirementC {
    font-size: .800rem;
	color: #c1c1ff;
}
.requirementD {
    font-size: .800rem;
	color: #ffcb6c;
}

