<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>AKU as a map</title>
        <meta name="description" content="AKU-Aalborg as a map">
        <meta name="author" content="eyJhb">

        <!-- data from aku -->
        <script src="js/data.js"></script>

        <link rel="stylesheet" href="css/style.css">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->

        <!-- UIKit -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>

        <!-- VueJS -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
        <!-- Matomo -->
        <script type="text/javascript">
            var _paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//matomo.greenmoon.dk/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', '1']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Matomo Code -->
    </head>

    <body>
        <div id="map"></div>
        <div id="app">
            <!-- filter offcanvas -->
            <a href="#" class="uk-icon-button" uk-toggle="target: #offcanvas-filter" uk-icon="icon: search; ratio: 1" style="position: absolute; top: 10px; left: 10px; z-index: 99; color: #1e87f0"></a>
            <div id="offcanvas-filter" class="uk-width-large" uk-offcanvas data-bg-close="false">
                <div class="uk-offcanvas-bar uk-width-large">
                    <button class="uk-offcanvas-close" type="button" uk-close></button>

                    <form>
                        <fieldset class="uk-fieldset">
                            <!-- search button top -->
                            <div class="uk-margin" uk-margin>
                                <button class="uk-button uk-button-default uk-align-center" id="v-click-filters" v-on:click.prevent="search">Apply Filters</button>
                            </div>

                            <!-- price ranges -->
                            <label class="uk-form-label" for="form-horizontal-text">Price</label>
                            <div class="uk-grid-small" uk-grid>
                                <div class="uk-width-1-2@s">
                                    <input class="uk-input" type="text" v-model.number="priceFrom" placeholder="From e.g. 2000">
                                </div>
                                <div class="uk-width-1-2@s">
                                    <input class="uk-input" type="text" v-model.number="priceTo" placeholder="To e.g. 10000">
                                </div>
                            </div>

                            <!-- area ranges -->
                            <label class="uk-form-label" for="form-horizontal-text">Area</label>
                            <div class="uk-grid-small" uk-grid>
                                <div class="uk-width-1-2@s">
                                    <input class="uk-input" type="text" v-model.number="areaFrom" placeholder="From e.g. 10">
                                </div>
                                <div class="uk-width-1-2@s">
                                    <input class="uk-input" type="text" v-model.number="areaTo" placeholder="To e.g. 50">
                                </div>
                            </div>

                            <!-- loop rooms -->
                            <label class="uk-form-label" for="form-horizontal-text">Number of rooms</label>
                            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid" v-for="(val, key) in rooms">
                                <label><input class="uk-checkbox" type="checkbox" :id="key.slug" :value="key" v-model="checkedRooms"> {{ key }} ({{ val }})</label>
                            </div>

                            <!-- loop our facilities -->
                            <label class="uk-form-label" for="form-horizontal-text">Facility requirements</label>
                            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid" v-for="(val, key) in facilities">
                                <div class="uk-width-1-1@s">
                                    <label><input class="uk-checkbox" type="checkbox" :id="key.slug" :value="key" v-model="checkedRequirements"> {{ key | capitalize }}</label>
                                </div>
                                <div class="uk-width-1-1@s">
                                    <label class="uk-text-small uk-margin-left">
                                        <span class="requirementA">{{ val.yes }} have this</span>,
                                        <span class="requirementB">{{ val.no }} do not</span>,
                                        <span class="requirementC">{{ val.unknown }} have description</span>,
                                        <span class="requirementD">{{ numbercomplexes - (val.yes + val.no + val.unknown) }} do not</span>
                                    </label>
                                </div>
                            </div>

                            <!-- search button bottom -->
                            <div class="uk-margin" uk-margin>
                                <button class="uk-button uk-button-default uk-align-center" id="v-click-filters" v-on:click.prevent="search">Apply Filters</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <!-- about offcanvas -->
            <a href="#" class="uk-icon-button" uk-toggle="target: #offcanvas-about" uk-icon="icon: question; ratio: 1" style="position: absolute; top: 10px; right: 10px; z-index: 99; color: #1e87f0"></a>
            <div id="offcanvas-about" uk-offcanvas="flip:true" data-bg-close="false">
                <div class="uk-offcanvas-bar">
                    <button class="uk-offcanvas-close" type="button" uk-close></button>
                    <h4>About AKU-Aalborg Map</h4>
                    <p>
                        AKU-Aalborg Map is released under the MIT-License, and is a response to the very poor user experience at
                        <a href="https://vl.aku-aalborg.dk/" target="_blank">AKU-Aalborg</a>,
                        the source code can be found <a href="https://gitlab.com/eyJhb/aku-aalborg-map" target="_blank">here</a>.
                    </p>
                    <p>
                        This map is based on all the same data as is available on AKU-Aalborg, as it scrapes the website every once in a while.
                    </p>

                    <h4>Marker explanation</h4>
                    <p>
                        The markers follows the conventions of the colors codes in the filters, i.e. green means it has this, red is not displayed, purple is that there is a description available and yellow means that it isn't mentioned.
                        Marker colors are ONLY based on the facility requiremetns specified, as if it does not live up to the price, area or number of rooms it will not be displayed.
                    </p>
                </div>
            </div>
        </div>
        </div>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxQNrAglPaHnjzmMYoR9z_RBdkD_pVEn0&callback=initMap" async defer></script>
        <script src="js/main.js"></script>
    </body>
</html>
